In [47]:
import glob
import pandas as pd
from datetime import datetime
import os

In [70]:
root_dir = '/Volumes/Bastian/Hackathon/Data/timelapse_images_fast/timelapse_images_fast/'
path_dict = {}

In [71]:
def extract_time(filname):
    return datetime.strptime(filname, '%Y%m%d_%H%M%S.JPG')

In [74]:
for filename in glob.iglob(root_dir + '**/*/*', recursive=True):
    di, filname = os.path.split(filename)
    path_dict[filname] = extract_time(filname)

In [76]:
len(path_dict)

102716

In [77]:
df = pd.DataFrame({'time':list(path_dict.values()), 'filename': list(path_dict.keys())}, )
df.head()

                 time             filename
0 2017-01-01 07:00:09  20170101_070009.JPG
1 2017-01-01 07:04:09  20170101_070409.JPG
2 2017-01-01 07:08:09  20170101_070809.JPG
3 2017-01-01 07:12:11  20170101_071211.JPG
4 2017-01-01 07:16:10  20170101_071610.JPG

In [78]:
df.to_pickle('pd_time_stamps.pkl')

In [41]:
df = df.set_index('time')
df.head()

Empty DataFrame
Columns: []
Index: [2017-01-01 07:00:09, 2017-01-01 07:04:09, 2017-01-01 07:08:09, 2017-01-01 07:12:11, 2017-01-01 07:16:10]

In [46]:
len(df)

428