In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = pd.read_csv('/Users/gagan/Desktop/permafrost_data/annotations/automatic_labels_mountaineers.csv')

In [5]:
labels.head(10)

,start_time,end_time,start_x,end_x,start_y,end_y,__target
0,2018-04-14 04:00:00+00:00,2018-04-14 04:02:00+00:00,NaN,NaN,NaN,NaN,mountaineer
1,2018-04-14 04:02:00+00:00,2018-04-14 04:04:00+00:00,NaN,NaN,NaN,NaN,NaN
2,2018-04-14 04:04:00+00:00,2018-04-14 04:06:00+00:00,NaN,NaN,NaN,NaN,NaN
3,2018-04-14 04:06:00+00:00,2018-04-14 04:08:00+00:00,NaN,NaN,NaN,NaN,NaN
4,2018-04-14 04:08:00+00:00,2018-04-14 04:10:00+00:00,NaN,NaN,NaN,NaN,NaN
5,2018-04-14 04:10:00+00:00,2018-04-14 04:12:00+00:00,NaN,NaN,NaN,NaN,NaN
6,2018-04-14 04:12:00+00:00,2018-04-14 04:14:00+00:00,NaN,NaN,NaN,NaN,NaN
7,2018-04-14 04:14:00+00:00,2018-04-14 04:16:00+00:00,NaN,NaN,NaN,NaN,NaN
8,2018-04-14 04:16:00+00:00,2018-04-14 04:18:00+00:00,NaN,NaN,NaN,NaN,NaN
9,2018-04-14 04:18:00+00:00,2018-04-14 04:20:00+00:00,NaN,NaN,NaN,NaN,NaN

In [6]:
all_mountaineers = labels['__target'] == 'mountaineer'

In [10]:
all_mountaineers = np.where(all_mountaineers == True)[0]

In [11]:
all_mountaineers.shape

(72903,)

In [12]:
times = labels.loc[all_mountaineers, 'start_time']

In [17]:
order = np.random.permutation(len(times))
times = times.iloc[order]

In [18]:
times[:40]

228271    2016-07-30 17:02:00+00:00
317314    2017-07-22 10:08:00+00:00
130004    2017-07-16 06:28:00+00:00
180328    2018-08-09 02:56:00+00:00
538850    2016-07-16 13:40:00+00:00
239533    2017-07-30 09:26:00+00:00
623057    2016-08-16 12:34:00+00:00
827847    2015-06-17 12:54:00+00:00
478728    2015-12-04 00:36:00+00:00
639045    2017-07-28 06:30:00+00:00
829010    2017-09-07 06:40:00+00:00
288197    2016-07-24 10:34:00+00:00
418693    2018-09-12 16:26:00+00:00
373752    2016-08-25 18:24:00+00:00
445505    2017-08-27 11:10:00+00:00
217599    2018-08-19 09:18:00+00:00
23661     2018-08-12 12:42:00+00:00
248205    2015-08-31 03:30:00+00:00
769748    2016-08-28 10:16:00+00:00
585349    2017-08-07 04:38:00+00:00
191346    2018-07-20 10:12:00+00:00
113398    2018-08-21 03:56:00+00:00
803972    2015-06-05 21:04:00+00:00
299813    2018-04-11 13:46:00+00:00
222838    2018-08-11 15:56:00+00:00
397303    2016-07-09 11:26:00+00:00
722726    2016-07-17 14:52:00+00:00
417239    2018-08-15 03:58:00+00:00
621239    2018-07-11 11:58:00+00:00
509584    2018-07-17 10:08:00+00:00
188652    2017-08-29 05:24:00+00:00
664059    2017-08-21 12:18:00+00:00
158592    2017-08-02 11:24:00+00:00
582495    2016-07-07 04:30:00+00:00
499655    2017-10-07 04:10:00+00:00
160338    2017-08-20 09:36:00+00:00
769670    2016-08-28 07:40:00+00:00
769699    2016-08-28 08:38:00+00:00
692168    2018-08-22 04:16:00+00:00
115164    2018-08-01 02:48:00+00:00
Name: start_time, dtype: object